.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #e9eaec;

}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.icon {
    width: 44px;
    height: 44px;
    opacity: 0.5;
}